.movie-data{
    max-width: 1180px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    
}
.movie-search{
    max-width: 1180px;
    margin: 20px auto;

}

.movie-search form input{
    width: 90%;
    padding: 8px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid grey;
    outline: none;
}

.movie-search form button{
    width: 10%;
    padding: 8px;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid grey;
    cursor: pointer;
    background-color: #1c1b1b;
    color: white;
    transition: 0.3s ease;
    
}