.container{
    max-width: 1180px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
.list-cards{
   
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-name{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}
.spinner {
    height: 40px;
    width: 40px;
    border: 5px solid grey;
    border-top: 5px solid blue;
    border-radius: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media (max-width: 500px) {
    
    .container{
        width: 350px;
    }
}



